* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}

.teste{
  display: flex;
  flex-direction: row;
  width: 50vw;
}

.child-container{
  border-radius: 25px 25px 0 0; 
}

#screen{
  height: 40vh;
  position: relative;
  background-color: black;
  border-radius: inherit;
  color: white;
}

#screen div{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px;
}

p{
  background-color: red;
  padding: 20px 12px;
  width: 100%;
  text-align: center;
}

p:hover{
  filter: brightness(0.8);
  cursor: pointer;
}

#send{
  border-radius: 0 0 25px 25px;
}

#send p{
  border-radius: inherit;
}

@media screen and (max-width: 200px) {
  .teste {
    width: 120px;
  }
}