* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection{
  background: none;
}
body{
  overflow: hidden;
}

.teste{
  display: flex;
  flex-direction: row;
}

.child-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#screen{
  height: 100%;
  position: relative;
  background-color: black;
  
  color: white;
}

#screen div{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px;
}

p{
  background-color: blue;
  padding: 20px 12px;
  width: 100%;
  text-align: center;

}

p:hover{
  filter: brightness(0.8);
  cursor: pointer;
}